* {
  margin: 0;
  padding: 0; }
  * img {
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%; }

.closeButtom {
  padding: .50em .50em;
  line-height: initial; }

.navDeBs {
  position: sticky;
  top: 0;
  background-color: #db15d1;
  font-family: "Rampart One", cursive;
  box-shadow: 0 10px 25px #db15d1;
  z-index: 2; }
  .navDeBs div .bebidasComboLoco {
    font-size: 2.3em; }
  .navDeBs .navBS {
    justify-content: flex-end; }
    .navDeBs .navBS div .estructuraCarrito {
      display: flex; }

.pModeracion {
  text-align: center;
  font-size: 1.2em;
  background-color: black;
  color: white;
  padding: 0.3%;
  font-family: "Crimson Text", serif;
  margin: 0; }

.headerName {
  font-size: 3em;
  text-align: center;
  background-color: #db15d1;
  padding: 2%;
  margin: 0; }

.pagCentrada {
  min-height: 100%;
  position: relative; }
  .pagCentrada .pagCentradaFooter {
    position: absolute;
    bottom: 0;
    width: 100%; }

.footer {
  color: #e0dede;
  font-family: "Crimson Text", serif;
  background-color: #3b3b3b;
  border-top: 1px solid black; }
  .footer .divPadreFooter {
    display: flex;
    justify-content: space-evenly; }
    .footer .divPadreFooter div .pTitleFooter {
      font-size: 1.5em; }
    .footer .divPadreFooter div .divPadreIconos {
      display: flex;
      justify-content: space-around; }
      .footer .divPadreFooter div .divPadreIconos .contenedorIcons {
        height: 38px;
        width: 38px; }
  .footer .derechosReservados {
    font-size: 1.1em;
    text-align: center;
    margin-bottom: 0; }
    .footer .derechosReservados p {
      margin-bottom: 0; }

/*MAIN------*/
body {
  background-color: #e0e0e0; }

.eslogan {
  font-size: 2em;
  background-color: black;
  padding: 5%;
  color: white;
  text-align: center;
  font-family: "Calligraffitti", cursive; }

/*----SECCION DIRECCION*/
.divDireccion {
  display: flex;
  padding: 1%;
  justify-content: space-evenly; }
  .divDireccion div {
    text-align: center;
    font-family: "Crimson Text", serif; }
    .divDireccion div h2 {
      font-size: 2.5em; }
    .divDireccion div p {
      font-size: 1.5em; }
  .divDireccion iframe {
    border-radius: 2%; }

/*---SECCION BEBIDAS*/
.seccionBebidas {
  border-bottom: 1px solid black;
  padding-bottom: 1%;
  padding-top: 1%;
  background-color: #dddddd; }
  .seccionBebidas .tituloBebidas {
    text-align: center;
    font-size: 3em;
    font-family: "Crimson Text", serif; }
  .seccionBebidas hr {
    margin-top: 0;
    margin-left: 5%;
    margin-right: 5%;
    z-index: -1; }
  .seccionBebidas .bebidas {
    padding-top: 2%;
    display: flex;
    justify-content: space-evenly; }
    .seccionBebidas .bebidas .contenedorBebidas {
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 1px solid black;
      border-radius: 5%;
      font-family: "Calligraffitti", cursive;
      padding: 1%; }
      .seccionBebidas .bebidas .contenedorBebidas .tituloBebidasContenedor {
        font-size: 2em;
        margin: 0; }
      .seccionBebidas .bebidas .contenedorBebidas hr {
        width: 80%; }
      .seccionBebidas .bebidas .contenedorBebidas .imagenesBebidas {
        width: 200px;
        height: 270px; }

/*----SECCION PROXIMAMENTE BS*/
.divJS {
  text-align: center;
  font-family: "Crimson Text", serif;
  font-size: 2em;
  padding: 2%;
  background-color: aquamarine;
  margin-bottom: 1%;
  border-bottom: 1px solid black; }

.seccionTituloCarrito {
  text-align: center;
  font-family: "Crimson Text", serif;
  padding-top: 1%; }
  .seccionTituloCarrito hr {
    margin: 0 5% 0% 5%; }

#productos {
  padding-top: 1%; }
  #productos .seccionBtnVaciarCarrito {
    background-color: black;
    color: white;
    padding: 1%;
    text-align: center; }
    #productos .seccionBtnVaciarCarrito #btnVaciarCarrito {
      box-shadow: -2px -1px 48px 5px rgba(219, 21, 209, 0.73);
      -webkit-box-shadow: -2px -1px 48px 5px rgba(219, 21, 209, 0.73);
      -moz-box-shadow: -2px -1px 48px 5px rgba(219, 21, 209, 0.73); }

.seccionContinuarCompra {
  font-family: "Crimson Text", serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #db15d1;
  height: 50px; }
  .seccionContinuarCompra #totalCarrito {
    display: flex;
    justify-content: space-evenly;
    width: 15%;
    font-size: 1.5em; }
    .seccionContinuarCompra #totalCarrito p {
      margin-bottom: 0; }

#seccionClientes {
  text-align: center;
  font-family: "Crimson Text", serif;
  padding-top: 2%; }
  #seccionClientes h1 {
    font-size: 4em; }
  #seccionClientes hr {
    margin-left: 5%;
    margin-right: 5%; }
  #seccionClientes h2 {
    font-family: "Calligraffitti", cursive; }
  #seccionClientes #clientes {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2%; }
    #seccionClientes #clientes .contenedorClientes {
      margin: 0.5%;
      padding: 0.5%;
      border: 1px solid black;
      transition: 0.8s; }
      #seccionClientes #clientes .contenedorClientes .pClientes {
        font-size: 1.5em;
        margin-bottom: 0.5%; }
      #seccionClientes #clientes .contenedorClientes hr {
        margin: 0; }
    #seccionClientes #clientes .contenedorClientes:hover {
      transform: scale(1.1, 1.1); }
