@import 'utilities/_variables.scss';

//-------------HEADER


//---NAV DE BS
.navDeBs{
    position: sticky;
    top: 0;
    background-color: rgb(219, 21, 209);;
    font-family: $fonts-bebidasLocas;
    div{
        .bebidasComboLoco{
            font-size: 2.3em;
        }
    }
    .navBS{
        justify-content: flex-end;
        div{
            .estructuraCarrito{
                display: flex;
            }
        }
    }
}

.pModeracion{
    text-align: center;
    font-size: 1.2em;
    background-color: black;
    color: white;
    padding: 0.3%;
    font-family: $fonts-beber;
    margin: 0;
}
.headerName{
    font-size: 3em;
    text-align: center;
    background-color: rgb(219, 21, 209);
    padding: 2%;
    margin: 0;
}