//------SECCION TITULO CARRITO
.seccionTituloCarrito{
    text-align: center;
    font-family: $fonts-beber;
    padding-top: 1%;
    hr{
        margin: 0 5% 0% 5%;
    }
}

//--------SECCION PRODUCTOS
#productos{
    padding-top: 1%;
    .seccionBtnVaciarCarrito{
        background-color: black;
        color: white;
        padding: 1%;
        text-align: center;
        #btnVaciarCarrito{
            box-shadow: -2px -1px 48px 5px rgba(219,21,209,0.73);
            -webkit-box-shadow: -2px -1px 48px 5px rgba(219,21,209,0.73);
            -moz-box-shadow: -2px -1px 48px 5px rgba(219,21,209,0.73);
        }
    }
}

//--------SECCION CONTINUAR CON LA COMPRA
.seccionContinuarCompra{
    font-family: $fonts-beber;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:rgb(219, 21, 209);
    height: 50px;
    #totalCarrito{
        display: flex;
        justify-content: space-evenly;
        width: 15%;
        font-size: 1.5em;
        p{
            margin-bottom: 0;
        }
    }

}

//--------SECCION CONTINUAR COMPRA
.tituloDetalles{
    text-align: center;
    padding-top: 2%;
    font-family: $fonts-beber;
    p{
        margin-bottom: 0;
        font-size: 1.5em;
    }
    .psectionDetalles{
        font-size: 2.5em;
    }
    hr{
        margin-top: 0;
    }
}
#formDetalles{
    padding-bottom: 2%;
}

//-----SECTION DETALLES
#sectionDetalles{
    display: none;
}

//-----SECCION FINALIZAR
.sectionFinalizarCompra{
    @extend.seccionTituloCarrito;
    border: 1.6px solid black;
    border-radius: 7%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding-bottom: 1%;
    div{
        p{
            font-size: 2em;
        }
    }
    #divTableFinalizarCompra{
        font-size: 1.2em;
    }
    button{
        font-size: 1.2em;
    }
}
