//------SECCION TITULO CARRITO
.seccionTituloCarrito{
    text-align: center;
    font-family: $fonts-beber;
    padding-top: 1%;
    hr{
        margin: 0 5% 0% 5%;
    }
}

//--------SECCION PRODUCTOS
#productos{
    padding-top: 1%;
    .seccionBtnVaciarCarrito{
        background-color: black;
        color: white;
        padding: 1%;
        text-align: center;
        #btnVaciarCarrito{
            box-shadow: -2px -1px 48px 5px rgba(219,21,209,0.73);
            -webkit-box-shadow: -2px -1px 48px 5px rgba(219,21,209,0.73);
            -moz-box-shadow: -2px -1px 48px 5px rgba(219,21,209,0.73);
        }
    }
}

//--------SECCION CONTINUAR CON LA COMPRA
.seccionContinuarCompra{
    font-family: $fonts-beber;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:rgb(219, 21, 209);
    height: 50px;
    #totalCarrito{
        display: flex;
        justify-content: space-evenly;
        width: 15%;
        font-size: 1.5em;
        p{
            margin-bottom: 0;
        }
    }

}
