//---------FOOTER

//---------PARA QUE LA PAGINA ESTE CENTRADA
.pagCentrada{
    min-height: 100%;
    position: relative;
    .pagCentradaFooter{
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}

.footer{
    color: rgb(224, 222, 222);
    font-family: $fonts-beber;
    background-color: rgb(59, 59, 59);
    border-top: 1px solid black;
    text-decoration: none;
    .divPadreFooter{
        display: flex;
        justify-content:space-evenly;
        div{
            .pTitleFooter{
                font-size: 1.5em;
            }
            .divPadreIconos{
                display: flex;
                justify-content: space-around;

                .contenedorIcons{
                    height:38px ;
                    width: 38px;
                }
            }
        }
    }
    #aLukitas{
        text-decoration: none;
        color: rgb(224, 222, 222);
    }

    //-------------PARTE DE LOS DERECHOS RESERVADOS
    .derechosReservados{
        font-size: 1.1em;
        text-align: center;
        margin-bottom: 0;
        p{
            margin-bottom: 0;
        }
    }
}
